<h1>Cocktails</h1>

<div class="row">
<% @cocktails.each do |cocktail| %>
  <div class="col-xs-4">
    <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
    <ul>
      <% cocktail.doses.each do |dose| %>
        <li><%= dose.description %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>


